.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.intervalBreakLabel {
  padding-right: .20em;
}

.endBreakLabel {
  padding-right: .20em;
}

input[type=submit] {
  padding: 5px 15px;
  background: #3dcaff;
  border: 1px solid black;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.startButton {
  color: black;
  border: 1px solid black;
  /* background-color: #008CBA;
  height: 25px;
  width: 100px;
  border-radius: 6px; */
  padding: 5px 15px;
  background: #00aa1a;
  width: 6em;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.timer {
  font-size: 2.5em;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0.5em 21.5em 0em 21.5em;
}

.interval {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}