* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: auto;
  width: 10%;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5vw;
}

.App-intro {
  font-size: large;
}

.intervalBreakLabel {
  font-size: 1.2vw;
  padding-right: .20em;
}

.endBreakLabel {
  font-size: 1.2vw;
  padding-right: .20em;
}

.intervalBreakTime {
  font-size: 1vw;
}

.endBreakTime {
  font-size: 1vw;
}

.startButton {
  color: black;
  border: 1px solid black;
  font-size: 1.5vw;
  padding: 5px 15px;
  margin-bottom: 0.5em;
  background: #00aa1a;
  width: 6em;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.timer {
  font-size: 2vw;
  border: 1px solid black;
  text-align: center;
  width: 20%;
  padding: 1em;
  margin: 0 auto;
  border-radius: 5px;
}

.interval {
  font-size: 1.5vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}